
  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 mb-4 ms-auto">
          <div>
            <h6 class="text-gradient text-primary font-weight-bolder">The Best MMORPG</h6>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-gradient text-primary text-sm">Social</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/" target="_blank">
                  Facebook
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://x.com/" target="_blank">
                  X
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/" target="_blank">
                  Github
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/" target="_blank">
                  Youtube
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-gradient text-primary text-sm">Resources</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'players:player-list' %}" target="_blank">
                  Players
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'players:race-list' %}" target="_blank">
                  Races
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'players:equipment-list' %}" target="_blank">
                  Equipments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'players:equipment-type-list' %}" target="_blank">
                  Equipment types
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-gradient text-primary text-sm">Create</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'players:player-create' %}" target="_blank">
                  Player create
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'players:race-create' %}" target="_blank">
                  Race create
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'players:equipment-create' %}" target="_blank">
                  Equipment create
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'players:equipment-type-create' %}" target="_blank">
                  Equipment type create
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              The Best MMORPG by &copy; <a target="_blank" href="https://www.instagram.com/_waldemar_s_/" target="_blank">Waldemar</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

