{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Equipment type List
    <a href="{% url 'players:equipment-type-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" class="btn btn-secondary" style="margin-left: 10px">
  </form>
  <br>
  {% if equipment_type_list %}
    <table class="table">
      <tr>
        <th>Type</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for equipment_type in equipment_type_list %}
        <tr>
          <td>
              {{ equipment_type.type }}
          </td>
          <td>
              <a href="{% url 'players:equipment-type-update' pk=equipment_type.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'players:equipment-type-delete' pk=equipment_type.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no equipment type in the game.</p>
  {% endif %}
{% endblock %}
