{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ player.username }}
    <a href="{% url 'players:player-delete' pk=player.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'players:player-update' pk=player.id %}" class="btn btn-secondary link-to-page">
      Update player`s information
    </a>
  </h1>

  <p><strong>Race:</strong> {{ player.race.name }}</p>
  <p><strong>Level:</strong> {{ player.level }}</p>
  <p><strong>Power:</strong> {{ player.power }}</p>
  <p><strong>Active status:</strong> {{ player.is_active }}</p>

  <div class="ml-3">
    <h4>Equipment</h4>

    {% for equipment in player.equipments.all %}
        <hr>
        <p><strong>name:</strong> {{ equipment.name }}</p>
        <p><strong>Equipment type:</strong> {{ equipment.type.type }}</p>
        <p class="text-muted"><strong>Id:</strong> {{equipment.id}}</p>

    {% empty %}
      <p>No equipments!</p>
    {% endfor %}
  </div>
{% endblock %}
